<app-navbar></app-navbar>
<div class="wrap">
  <div class="box">
    <div class="box-top">
      <img class="box-image"
           src="https://imgs.search.brave.com/iX0gKJvxrtkQuLb69DvOdc5_6bAHCaBbA4X1Idq6Z9k/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDI2NzMx/NzEuanBn"
           alt="Cigeratte">
      <div class="title-flex">
        <h3 class="box-title">Cigarettes</h3>
      </div>
    </div>
    <a href="" routerLink="/cigerattes-category" class="button">Explore</a>
  </div>
  <div class="box">
    <div class="box-top">
      <img class="box-image"
           src="https://imgs.search.brave.com/KyOQPq8sObKsSHhHTo53LRhh-FqE8jJ0aMTpZlFp_W0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC9XVzFSYWk0/LmpwZw"
           alt="Tea">
      <div class="title-flex">
        <h3 class="box-title">Tea</h3>
      </div>
    </div>
    <a href="" class="button" routerLink="/tea">Explore</a>
  </div>
  <div class="box">
    <div class="box-top">
      <img class="box-image"
           src="https://imgs.search.brave.com/sGfEeFrgKo_4nUl47WcVoXAy6SkqFnvyEs2jPBWtol8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/NTQ4NjY1ODUtY2Q5/NDg2MDg5MGI3P3E9/ODAmdz0xMDAwJmF1/dG89Zm9ybWF0JmZp/dD1jcm9wJml4bGli/PXJiLTQuMC4zJml4/aWQ9TTN3eE1qQTNm/REI4TUh4elpXRnlZ/Mmg4Tkh4OFkyOWpZ/U1V5TUdOdmJHRjha/VzU4TUh4OE1IeDhm/REE9"
           alt="Cold drink">
      <div class="title-flex">
        <h3 class="box-title">Cold Drinks</h3>
      </div>
    </div>
    <a href="" class="button" routerLink="/cold-drink">Explore</a>
  </div>
  <div class="box">
    <div class="box-top">
      <img class="box-image"
           src="https://imgs.search.brave.com/n-iv9PiRIy3D7xyZL3AfvbTxlWvYUZ7sQ_NwFSlJ4oc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/Zm9vZGFuZHdpbmUu/Y29tL3RobWIvY29L/cVI4eDNEem5NTHVj/VUZDUHlWVlc5ZXpj/PS8xNTAweDAvZmls/dGVyczpub191cHNj/YWxlKCk6bWF4X2J5/dGVzKDE1MDAwMCk6/c3RyaXBfaWNjKCkv/TGF5cy1OZXctU2Fu/ZHdpY2gtRmxhdm9y/ZWQtQ2hpcHMtRlQt/QkxPRzA1MjMtMTBh/YmEyY2JhNDg3NGE1/YTllNzZkMjgyNTE1/ZTdiMDUuanBn"
           alt="Snacks">
      <div class="title-flex">
        <h3 class="box-title">Snacks & more</h3>
      </div>
    </div>
    <a href="#" class="button">Explore</a>
  </div>
</div>
<app-footer></app-footer>
